section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.navbar-lists {
  display: flex;
  gap: 4.5rem;
  align-items: center;
  list-style: none;
  flex-direction: column;
  justify-content: center;
}

.navbar-link {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-link:hover {
  color: rgb(125, 120, 120);
  transition: color 0.3s linear;
}
